<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>SchoolUI</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/js/index.js"></script>

</head>

<body>
	<h1 class="text-center">Home</h1>

	<div class="text-center">
		<a href="add" class="btn btn-info" role="button">Add Student</a> <a
			href="course" class="btn btn-info" role="button">Course</a>
	</div>
	<h3>All Students List</h3>
	<table id="studentTable" class="display">

		<!-- Header Table -->
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Date of Birth</th>
			</tr>
		</thead>
	</table>

</body>
</html>